{% extends 'layout/base.html'%}

{% block title %}Homepage{% endblock %}

{% block content %}

    <h1>Sign in</h1>

    <article>
        <img src="../static/logo.PNG" alt="logo">

        {% if not connected %}
            <form class="text-center" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="text-center">
                        {{ field.label_tag }}
                    </div>
                    <div class="text-center">
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" value="Submit">Sign in</button>
            </form>
            {% if error_request %}
                <p class="text-center">Sorry! We have problems with the server...</p>
            {% endif %}

            {% if error %}
                <p class="text-center">Username and/or password not valid!</p>
            {% endif %}
        {% else %}
            <h3 class="text-center">You are signed in</h3>
            <form class="text-center" action="{% url 'sign_out' %}">
                <button>Sign out</button>
            </form>
        {% endif %}
    </article>

{% endblock %}