{% extends 'layout/base.html' %}

{% block title %}Festival{% endblock %}

{% block content %}

    <form action="{% url 'poi' id_festival %}">
        <button>Go back</button>
    </form>

    <div class="text-center">
        <h1>{{ name_festival }}</h1>
        <h2>Add a new artist</h2>
    </div>

    <h2>{{ name_poi }}</h2>
    <article>
        <form class="text-center" action="{% url 'add_artist' id_festival id_poi %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="text-center">
                    {{ field.label_tag }}
                </div>
                <div class="text-center">
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" value="Submit">Add</button>
        </form>
    </article>

{% endblock %}
